*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 1024px;
    width: 1440px;
    background-image: url(./imagens/photo-fundo.avif);
}
.conteiner{
    max-width: 1300px;
    width: 100%;
    height: 834px;
    margin: 70px 224px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0px 250px 80px;
}
header img{
    margin-right: 40px;
    max-width: 98px;
    width: 100%;
    height: 110px;
}
header h1{
    font-size: 90px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    margin: 0 100px;
}
.numero-contato{
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: url(./imagens/🦆\ icon\ _phone\ add_.png) no-repeat no-repeat center center;
    border-radius: 60px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
    border: none;
}
.numero-contato:focus{
    width: 350px;
    background-image: none;
}
.nome-contato{
    width: 100px;
    height: 100px;
    align-items: center;
    overflow: hidden;
    background: url(./imagens/🦆\ icon\ _user_mais.png) no-repeat center center;
    border-radius: 60px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}
.nome-contato:focus{
    width: 350px;
    background-image: none;
}
table{
    width: 100%;
    
}
thead{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;    

}
thead td{
    display: flex;
}
td h2{
    font-size: 60px;
}

.contato-salvo{
    display: flex;
    background: #8E3D51;
    border-radius: 30px;
    max-width:  662px;
    width: 100%;
    align-items: center;
    height: 56px;
    align-content: center;
    margin-left: 300px;
}
.contato-salvo img{
    width: 48px;
    height: 48px;
    margin: 25px;
}
.contato-salvo p{
    font-size: 30px;
}
.numero-salvo{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 450px;
    font-size: 30px;
}
.numero-salvo{
    margin-right: 18px;
}
.confirmaçao{
    display: flex;
    align-items: center;
    margin: 10px 0 45px 450px;
    font-size: 20px;
    background: green;
    max-width: 150px;
    width: 100%;
    justify-content: center;
    color: #fff;
    border-radius: 25px;

}
form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 45px;
    cursor: pointer;
    padding: 8px;
}
.erro-numero{
    display: none;
    background: red;
    max-width: 500px;
    width: 100%;
    justify-content: center;
    color: #fff;
    align-items: center;
    font-size: 25px;
    border-radius: 15px;
    margin-left: 350px;
}